@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* 
    MSK Notification 
*/

*::-webkit-scrollbar {
    display:none;
}

textarea {
    resize: none;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    user-select: none;
    background-size: cover;
    font-family: 'Rajdhani';
    background-repeat: no-repeat;
    font-size:0vh;
    letter-spacing:0.06vh;
    /* background-image: url('https://cdn.discordapp.com/attachments/703398827448729670/1210609400889217084/Screenshot_56.png?ex=65f4695d&is=65e1f45d&hm=198bcaa93062981ebc315b1484947f2faa1d8dba39f6d23494b2fe2e0bba4dd3&'); */
}

.notify-wrapper {
    position: absolute;
    left: 2vh; /* Change this to left or right */
    top: 10vh; /* Change this for the height */
    font-size: 1.8vh;
    font-family: 'Montserrat', sans-serif;
}

.notify-div{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 2vh;
    width: 44vh;
    min-height: 8vh;

    background: linear-gradient(93.25deg, #4F4F4F 0%, #0C0C0C 100%);
    border-left: 0.44vh solid #FFCB11;
    box-shadow: 0vh 0.8vh 0.7 -0.2vh rgba(0, 0, 0, 0.35);
    border-radius: 1.34vh;
}

.notify-icon-box{
    box-sizing: border-box;
    padding: 1.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    box-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.47);
    border-radius: 0.8vh;
    transform: rotate(-45deg);
}

.notify-icon-box i{
    transform: rotate(45deg);
    font-size: 2.3vh;
}

.notify-text-box{
    margin-left: 2.5vh;
    align-self: baseline;
}

/* 
    MSK Input 
*/

.msk-input-title-box {
    position: absolute;
    top:3.2vh;
    left:50%;
    font-weight:bold;
    background:linear-gradient(to right, #ffffff00, #ffffff13, #ffffff00);
    transform:translateX(-50%)
}

.msk-input-title {
    position: relative;
    white-space:nowrap;
    height:3.2vh;
    color:white;
    font-size:1.4vh;
    letter-spacing:0.2vh;
    text-transform:uppercase;
    border-width: 0.1vh;
    border-style: solid;
    border-right:none;
    border-left:none;
    border-image: linear-gradient(to right, #00000000, #1eff008a, #00000000) 1;
}

.msk-input:focus {
    border-image: linear-gradient(to right, #00000000, #1eff008a, #00000000) 1;
}

.msk-input-title-text {
    position: relative;
    top:25%;
    padding-right:2.4vh;
    padding-left:2.4vh;
    background:-webkit-linear-gradient(rgb(255, 255, 255), #4b4b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow-right {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:0.4vh;
    background:-webkit-linear-gradient(#1cb900, #106800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: arrowRight 1.6s infinite linear;
}

.arrow-left {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:0.4vh;
    background:-webkit-linear-gradient(#1cb900, #106800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: arrowLeft 1.6s infinite linear;
}

@keyframes arrowRight {
    0% {
       opacity:0;
       right:0.4vh;
    }
    50% {
        opacity:0.6;
    }
     80% {
        opacity:0;
    }
    100% {
        opacity:0;
        right:-0.4vh;
    }
}

@keyframes arrowLeft {
    0% {
       opacity:0;
       left:0.4vh;
    }
    50% {
        opacity:0.6;
    }
     80% {
        opacity:0;
    }
    100% {
        opacity:0;
        left:-0.4vh;
    }
}

.msk-input-container {
    display: none;
    position: absolute;
    width: 46vh;
    height: auto;
    background:radial-gradient(rgba(19, 19, 19, 0.98), rgba(19, 19, 19, 0.98), rgb(12, 12, 12));
    margin:0.6vh;
    border-radius:0.8vh;
    border-width: 0.1vh;
    border-style: solid;
    border-image: radial-gradient(#00000000, #1eff008a, #00000000) 1;
    box-shadow:0vh 0vh 4vh rgb(0, 0, 0); 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-bottom:13.6vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4vh;
}

.msk-input::placeholder {
    color:rgb(105, 105, 105);
}

.msk-input {
    position: relative;
    border:none;
    outline:none;
    width:92%;
    letter-spacing:0.1vh;
    padding-top:1.0vh;
    padding-bottom:1.0vh;
    padding-right:1.8vh;
    padding-left:1.8vh;
    top:9.2vh;
    text-align: center;
    font-size:1.12vh;
    color:rgb(174, 174, 174);
    /* text-transform: uppercase; */

    background:linear-gradient(to right, #ffffff00, #ffffff13, #ffffff00);
    border-width: 0.1vh;
    border-style: solid;
    border-right:none;
    border-left:none;
    border-image: linear-gradient(to right, #00000000, #ffffff8a, #00000000) 1;
}

.msk-input:hover {
    border-color: #00ff00
}

#big-input {
    display: none;
    height: 8vh;
}

#small-input {
    display: all;
    height: 1.2vh;
    padding-left:2vh;
    white-space: nowrap;
}

.msk-submit-button {
    position: relative;
    height:3.4vh;
    top:10.4vh;
    width:100%;
    font-weight:bold;
    border:none;
    outline:none;
    text-align: center;
    background:linear-gradient(to right, #ffffff00, #ffffff13, #ffffff00);
    text-transform: uppercase;
    border-width: 0.1vh;
    border-style: solid;
    border-right:none;
    border-left:none;
    border-image: linear-gradient(to right, #00000000, #ffffff8a, #00000000) 1;
    backface-visibility: hidden;
/*     transform:translate(-50%) */
}

.msk-submit-button-text {
    position: absolute;
    top:0.86vh;
    left:50%;
    transform: translateX(-50%);
    font-size:1.4vh;
    letter-spacing:0.2vh;
    transition: 200ms;
    background:-webkit-linear-gradient(rgb(255, 255, 255), #4b4b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backface-visibility: hidden;
}

.msk-submit-button:hover {
    cursor:pointer;
    border-image: linear-gradient(to right, #00000000, #1eff008a, #00000000) 1;
}

.msk-submit-button:hover .msk-submit-button-text {
    background: #1fb11f;
    letter-spacing:0.34vh;
    background:-webkit-linear-gradient(#26ff00, #093a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 
    MSK ProgressBar 
*/

.progress-container {
    --mainColor: #5eb131;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 0;
    margin: 0;
}

#progress {
    top: 80%;
    background: rgba(23, 23, 23, 0.35);
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 0.4vh; /* 15vh */
    align-items: center;
    position: fixed;
    height: 4vh;
    width: 54vh;
    transform: skew(-20deg, 0deg);
}

#progress-text {
    width: fit-content;
    font-family: 'Abel', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#progress-value {
    /* animation: load 5s normal forwards; */
    border-radius: 0.4vh; /* 15vh */
    height: 4vh;
    width: 0%;
}

.progress-color {
    box-shadow: 0 1vh 4vh -1vh var(--mainColor);
    background: var(--mainColor);
}

@keyframes load {
    0% { width: 5%; }
    100% { width: 100%; }
}

.progress-hidden {
    display: none;
}