# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store

# Vite cache
.vite/

# WICHTIG: dist wird bewusst NICHT ignoriert -> committet für FiveM-Server
